/* セレクタ {プロパティ名: 値;} */
/* * {color: skyblue;} */

/* h1, p {color: violet;} */
/* div span {color: violet;} */
/* div > span {color: violet;} */
/* p + p {color: violet;} */
/* p.points {color: violet;} */
