/* セレクタ {プロパティ名: 値;} */
/* * {color: skyblue;} */

/* h1, p {color: violet;} */
/* div span {color: violet;} */
/* div > span {color: violet;} */
/* p + p {color: violet;} */
/* p.points {color: violet;} */
/* 属性セレクタ */
/* a[title] {color: skyblue;} */
/* a[class~="search"]{color: violet;} */
/* 擬似クラス */
/* ul li:first-child{color: skyblue;}

a:link {color: violet;}
a:visited {color: orange;}
a:hover {color: pink;}
a:active {color: red;}

input:focus {background: blue;} */
/* 疑似要素 */

/* p:irst-line {color: skyblue;} */
/* p:first-letter {color: skyblue;} */
/* p:before {content: "-->";}
p:after {content: "<--";} */

/* セレクタ詳細度 */
/* (a)=style */
/* (b) id */
/* (c) 属性/擬似クラス */
/* (d) 要素/疑似要素 */
/* a {color: skyblue !important;}/* 0001 */
/* a.link {color: pink;}/* 0011 */
/* a#site {color: blue;}/* 0101 */

/* body {font-size: 16px;}
/* h1 {font-size: 2em;}  2倍*/
/* h2 {font-size: 150%} */
/* h1 {color: #00f;}
h1 {color: #0000ff;}
h1 {color: rgb(0,0,255);} */

/* ボックスモデル */
/* body, html {height: 100%;}
div {
  background: blue;
  width: 50%;
  height: 50%;
} */

/* border */
/* div {
  border-color: orange;
  border-width: 4px;
  border-style: dotted;
} */
/* div {border-top: orange 4px dotted;} */

/* padding */
body {margin: 0;}
div {padding: 10px 50px;}
div {padding: 10px 30px 50px 70px;}
