body {
  margin: 0;
  background: grey;
}

/* #eyecatch {
background: url('eyecatch.jpg') no-repeat;
background-size: cover;
background-position: 50% 20%;
height: 100px;
} */

.container {
  width: 500px;
  margin: 0 auto;
  /* background: pink; */
}

header {
  background: tomato;
}

ul#menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0px;
}

ul#menu > li {
  display: inline-block;
}

ul#menu > li > a {
  display: inline-block;
  width: 80px;
  height: 40px;
  background: orange;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}

ul#menu > li > a:hover {
  opacity: 0.5;
  transition: 0.8s;
}

main {
  background: skyblue;
}
/* #left {
background: lightgreen;
float: left;
width: 180px;
margin-right: 20px;
}
#right {
background: limegreen;
float: left;
width: 300px;
} */

/* #left, #center ,#right {
  padding: 10px;
  box-sizing: border-box;
} */

#left {
  background: lightgreen;
  float: left;
  width: 100px;
}

#right {
  background: limegreen;
  margin-left: 100px:
}

/* #center {
  background: green;
  margin: 0 100px;
} */

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  overflow: hidden;
}

footer {
  clear: both;
  background: grey;
}
