body {
  margin: 0;
  background: grey;
}

/* #eyecatch {
  background: url('eyecatch.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  height: 100px;
} */

.container {
width: 500px;
margin: 0 auto;
/* background: pink; */
}

header {
  background: tomato;
}

main {
  background: skyblue;
}
#left {
  background: lightgreen;
  float: left;
  width: 200px
}
#right {
  background: limegreen;
  float: right;
  width: 300px
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
  .clear {
    overflow: hidden;
  }


footer {
  background: grey;
  clear: both;
}
